/gen
/bin
*.iml
*.DS_Store
*.log
/build
.gradle
/.gradle
*/build/
/app/build
/app/app.iml
local.properties
/local.properties
/.idea
/.idea/caches/build_file_checksums.ser
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
gradle.properties
/app/mapping.txt
/captures
*.apk
.externalNativeBuild